In [50]:
#Question 4.2

In [51]:
import pandas as pd
import numpy as np
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [52]:
df= pd.read_excel(r'/Users/bernadinesheik-essop/Downloads/SMAA8411wA1_Preloads/lda_v2.xlsx')
df

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [53]:
#group the data according to the different species
grouped_data = df.groupby ('Species')

#calculate mean vectors for each species group, iloc is a pandas DataFrame function used for 
#integer-location-based indexing / selection by position the iloc method is used to select all rows and 
#columns except for the last one [:, :-1]. Axis 0 calculates the mean vector on the 0 axis.
mean_vectors = {}
for species, data in grouped_data:
    mean_vectors [species] = np.mean (data.iloc [:, :-1], axis = 0)

#print mean vectors, mean_vectors.items() returns a list of tuples, where each tuple contains a 
#species name (key) and its corresponding mean vector (value). The for loop then iterates over each tuple in 
#the list, assigning the species name to the variable species and the mean vector to the variable mean_vector.
for species, mean_vector in mean_vectors.items():
    print("Mean vector for {} :".format (species))
    print(mean_vector)

Mean vector for setosa :
Sepal.Length    5.006
Sepal.Width     3.428
Petal.Length    1.462
Petal.Width     0.246
dtype: float64
Mean vector for versicolor :
Sepal.Length    5.936
Sepal.Width     2.770
Petal.Length    4.260
Petal.Width     1.326
dtype: float64
Mean vector for virginica :
Sepal.Length    6.588
Sepal.Width     2.974
Petal.Length    5.552
Petal.Width     2.026
dtype: float64

In [54]:
#Question 4.3

In [55]:
#create practice data
X = df.iloc[:,:4] #will select all rows and the first four columns and create a new DataFrame X.
y = df.iloc[:,4] #will select all rows and the fifth column and create a new DataFrame y.

In [56]:
#create LDA object and fit the model
lda = LinearDiscriminantAnalysis()
lda.fit(X,y)

#make new prediction for the observation
new_sample = [[6, 3, 4, 0.3]]
prediction = lda.predict (new_sample)
print (prediction)

['versicolor']

/Users/bernadinesheik-essop/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LinearDiscriminantAnalysis was fitted with feature names
  warnings.warn(